@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


/* 
Guardar una variable en css
*/
:root {
    --ff-primary: "DM Sans", sans-serif;
    --neutral-0: #ffffff;
    --neutral-100: #f0f1f5;
    --neutral-600: #1d1e20;
    --primary-200: #cbc8ff;
    --primary-500: #673de5;
    --secondary-0: #1d1e20;
}


* {
    font-family: var(--ff-primary);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.encabezado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 40px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.encabezado-izquierda {
    display: flex;
    align-items: center;
    gap: 30px;
}

.encabezado-izquierda h2 {
    font-size: 1.5rem;
    margin: 0;
}

.encabezado-izquierda nav {
    display: flex;
    gap: 20px;
}

.encabezado-derecha {
    display: flex;
    align-items: center;
    gap: 20px;
}

.idioma {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
}

.idioma img {
    width: 32px;
    height: 20px;
}

button {
    background-color: white;
    color: #030303;
    border: 0.8px solid #030303;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    height: 48px;
    width: 109px;
}


li {
    list-style-type: none;
}


.title {
    font-size: 56px;
    font-weight: 400;
    text-align: center;
    line-height: 64px;
}

.subtitle {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    /* letter-spacing: -1px; */
}

.paragraph {
    font-size: 16px;
    line-height: 24px;
}

.link {
    font-weight: 500;
    font-size: 16px;
    color: var(--secondary-0);
    text-decoration: none;
}

.pill {
    padding: 4px 12px;
    border-radius: 50px;
    text-align: center;
    background-color: var(--neutral-100);
}

/* 
CLASE MODIFICADORA 
*/
.pill--primary-200 {
    background-color: var(--primary-200);
}

/* 
CLASES UTILITARIAS
*/
.bg-neutral-100 {
    background-color: var(--neutral-100);
}


.mails-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 104px 0;
}

.section-content {
    width: 1800px;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.mails-section__articles-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.feature-article {
    flex: 1;
    background-color: var(--neutral-0);
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

.feature-article-content {
    padding: 48px 32px 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px
}

.feature-article__image {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.feature-article__image img {
    width: 100%;
}

.section-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.feature-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.feature-list .bi-check {
    color: var(--primary-500);
    font-size: 18px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 0 80px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .btn-menu {
    /* Oculto el boton en modo desktop */
    display: none;
}

.search-bar {
    width: 600px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;

}

.search-bar input {
    width: 100%;
    height: 100%;
    padding-right: 40px;
}

.search-bar button {
    position: absolute;
    right: 16px;
    background-color: transparent;
    border: none;
}


.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 160px 80px 100px;
    background-color: var(--primary-500);
    color: white;
    min-height: 80vh;
}

/* --- Contenedor izquierdo --- */
.hero-contenedor-izquierda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    gap: 40px;
    padding: 20px 0;
}

/* Subcontenedores */
.hero-subcontenedor {
    text-align: left;
    width: 100%;
}

.hero-subcontenedor.texto1 p {
    font-size: 80px;
    font-weight: 350;
    line-height: 1.2;
    margin: 0;
}

.hero-subcontenedor.texto2 p {
    font-size: 18px;
    line-height: 1.5;
    max-width: 480px;
    margin: 0;
    opacity: 0.9;
}

/* Botón */
.hero-subcontenedor.boton button {
    background-color: white;
    color: var(--neutral-600);
    border: none;
    padding: 14px 28px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 800;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    height: 48px;
    width: 180px;

}

.hero-subcontenedor.boton button:hover {
    background-color: #f3f3f3;
}

/* --- Contenedor derecho --- */
.hero-contenedor-derecha {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero-contenedor-derecha img {
    width: 100%;
    max-width: 880px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.footer {
    width: 100%;
    background-color: var(--neutral-100);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 40px 80px;
    gap: 40px;
    flex-wrap: wrap;
}

/* ---------------------------
   CONTENEDOR IZQUIERDA
---------------------------- */
.footer-izquierda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    height: 100%;

}

/* Logo */
.logo-hostinger h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: var(--neutral-600);
}

/* Tarjetas de pago */
.tarjetas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 16px;
}

.tarjetas img {
    width: 48px;
    height: auto;
    border-radius: 4px;
    background-color: var(--neutral-600);
    border: none;
    box-shadow: 0 0 0 0.5px var(--secondary-0);
    opacity: 0.85;
}

.tarjetas img:hover {
    opacity: 1;
}

/* ---------------------------
   CONTENEDOR DERECHA
---------------------------- */
.footer-derecha {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    flex: 1;

}

/* Redes sociales */
.contenedor-rrss {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.contenedor-rrss img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

/* Políticas */
.contenedor-politicas {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    font-size: 14px;
}

.contenedor-politicas a {
    color: var(--neutral-600);
    text-decoration: none;
}
.contenedor-politicas a:hover {
    color: var(--primary-200);
}