@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


:root {
    --ff-primary: "DM Sans", sans-serif;
    --neutral-0: #ffffff;
    --neutral-100: #f0f1f5;
    --neutral-600: #1d1e20;
    --primary-200: #cbc8ff;
    --primary-500: #673de5;
    --secondary-0: #1d1e20;
    --black: #000;
    --fucsia: #d63163;
    --lila: #8c85ff;
}


* {
    font-family: var(--ff-primary);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo {
    font-size: 32px;
    font-weight: 400;
    color: var(--neutral-0);

}

.titulo {
    font-size: 56px;
    font-weight: 400;
    text-align: center;
    line-height: 64px;
}

.subtitulo {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
}

.parrafo {
    font-size: 16px;
    line-height: 24px;
}

.link {
    font-weight: 700;
    font-size: 14px;
    color: var(--primary-500);
    text-decoration: none;
}

.pill {
    padding: 4px 12px;
    border-radius: 50px;
    text-align: center;
    background-color: var(--neutral-100);
}


.pill--primary-200 {
    background-color: var(--primary-200);
}


.bg-neutral-100 {
    background-color: var(--neutral-100);
}

.bg-black {
    background-color: var(--black);

}

.weight-700 {
    font-weight: 700;
}


.boton-primario {
    background-color: var(--black);
    color: var(--neutral-0);
    padding: 11px 20px;
    border: 1px solid;
    border-radius: 8px;
    border-color: var(--neutral-0);
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
    z-index: 10;
}

.boton-secundario {
    background-color: var(--fucsia);
    color: var(--neutral-0);
    padding: 11px 47px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 30px;
}

.icono-header {
    color: var(--neutral-0);
    font-weight: 700;
    margin-left: 5px;
    line-height: 48px;
}

.texto {
    font-size: 16px;
    color: var(--neutral-0);
}

.texto-negro {
    color: var(--black);
}

.enfasis-primario {
    font-size: 28px;
    color: var(--neutral-0);
}

.enfasis-secundario {
    font-size: 20px;
    color: var(--lila);
    font-weight: 500;
}

.section-contenedor {
    max-width: 1800px;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.section-encabezado {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 15px 20px;
    gap: 20px;
}

.header-section-contenedor {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    gap: 20px;

}

.header-subcontenedor-izquierda {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-subcontenedor-izquierda nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-subcontenedor-izquierda nav a {
    display: flex;
    align-items: center;
}

.header-subcontenedor-izquierda h1 {
    margin: 0;
}

.header-subcontenedor-derecha {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-subcontenedor-derecha img {
    width: 28px;
}

.header-subcontenedor-derecha button {
    padding: 11 15 px;
}

.hero-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hero-section-contenedor {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    gap: 40px;
}

.hero-subcontenedor {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    gap: 20px;
}

.hero-subcontenedor h1 {
    font-size: 80px;
    color: var(--neutral-0);
    font-weight: 400;
}

.hero-subcontenedor button {
    width: 250px;
}

.email-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 104px 0;
}

.email-section__contenido-articulo {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    z-index: 1000;
    padding: 15px 20px;
    gap: 20px;
}

.contenido-articulo {
    flex: 1;
    background-color: var(--neutral-0);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

.contenido-articulo-contenedor {
    padding: 48px 32px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

.contenido-articulo__imagen {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.hero-subcontenedor__imagen {
    display: flex;
    justify-content: center;
}

.hero-subcontenedor__imagen img {
    width: 100%;
}


.contenido-articulo__imagen img {
    width: 100%;
}

.contenido-lista {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contenido-lista .bi-check {
    color: var(--primary-500);
    font-size: 18px;
}

.footer-subcontenedor {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}




.articulo-rrss {
    display: flex;
    gap: 15px;
}


.articulo-rrss img {
    width: 50px;
    border-radius: 8px;
}

.articulo-tarjetas {
    display: flex;
    gap: 15px;
}


.articulo-tarjetas img {
    gap: 10px;
    width: 50px;
    border-radius: 8px;
}

.articulo-politicas {
    display: flex;
    gap: 20px;
    align-items: center;
}

.articulo-politicas a {
    text-decoration: none;
}

/*    RESPONSIVE    */

/* Modo Tablet */
@media screen and (max-width:1025px) {

    .section-contenedor {
        padding: 0 40px;
    }

    .email-section__contenido-articulo {
        flex-direction: column;
    }

    .titulo {
        font-size: 40px;
        line-height: 40px;
    }

    .subtitulo {
        font-size: 36px;
    }

    header nav {
        display: none;
    }

}

/* Modo Celular */
@media screen and (max-width:767px) {

    .section-contenedor {
        padding: 0 16px;
    }

    .titulo {
        font-size: 32px;
        line-height: 40px;
    }

    .subtitulo {
        font-size: 28px;
        line-height: 36px;
    }

}